[data-testid="stSidebar"]{
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 1%;
    border-color: transparent;
    
}


label.css-81oif8.effi0qh3 {
    color: rgba(0, 17, 54, 0.651);
    font-size: 20px;  
    font-family: sans-serif;;
    text-align: left;
}

section.main.css-k1vhr4.egzxvld3{
    background-color:rgba(255, 255, 255, 0.678);
}
.css-hxt7ib.e1fqkh3o4{
    margin-top: -5rem;
}

p {
    color: rgba(5, 2, 49, 0.719);
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;  
    margin-bottom:  0rem;
}
svg.e1fb0mya1.css-fblp2m.ex0cdmw0{
    color: rgba(2, 2, 46, 0.925);
    background-color: rgba(1, 11, 31, 0.603);
    border-radius: 20%;
}
button.css-6kekos.edgvbvh9{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgba(1, 9, 17, 0.89);
    border-radius: 5%;  
} 

button.css-1prua9e.edgvbvh9{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgba(1, 9, 17, 0.89);
    border-radius: 5%;
   
    border-color: rgba(2, 2, 46, 0.925);


   
}
header.css-18ni7ap.e8zbici2{
    color:rgb(49, 51, 63);
    display: none;
}
.block-container.css-12oz5g7.egzxvld2{
    margin-top:  -6rem;
}
div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] > div 
{ 
 
    color: rgb(13, 0, 59); 
    font-size: 18px;
    font-family: sans-serif;
}

.css-1djdyxw.ek41t0m0{
   
    border-radius: 5%;
    color: rgba(1, 5, 27, 0.918);
    font-size: 24px;
    font-family: sans-serif;
}
